In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [73]:
df= pd.read_csv('data/국내 지역별 유적지.csv',encoding='utf-8')
df

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KCLHTPO23N000000001,장소,유적지,159787,고인돌공원,NaN,NaN,60607,천연기념물,4615036029104520000,...,NaN,NaN,NaN,127.224567,34.979212,다라748649,20240104,KT,KC_507_LLR_HISTST_2023,20231220
1,KCLHTPO23N000000002,장소,유적지,257207,통영삼도수군통제영,NaN,NaN,60603,유명사적/유적지,4822010600100620000,...,4.822033e+11,세병로,41,128.423087,34.847752,라라843507,20240104,KT,KC_507_LLR_HISTST_2023,20231220
2,KCLHTPO23N000000003,장소,유적지,331650,정법사,NaN,NaN,180301,유명사찰,2714010100200450005,...,2.714030e+11,동북로,397,128.631522,35.887210,마마021662,20240104,KT,KC_507_LLR_HISTST_2023,20231220
3,KCLHTPO23N000000004,장소,유적지,331657,송광사,NaN,NaN,180301,유명사찰,4571034025105690002,...,4.571033e+11,송광수만로,255-16,127.241749,35.885783,다마766654,20240104,KT,KC_507_LLR_HISTST_2023,20231220
4,KCLHTPO23N000000005,장소,유적지,331737,용암사,NaN,NaN,180301,유명사찰,4373025032200510004,...,4.373045e+11,삼청2길,400,127.564129,36.259593,라바057069,20240104,KT,KC_507_LLR_HISTST_2023,20231220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6959,KCLHTPO23N000006960,장소,유적지,23096500,배매산산성유적,NaN,NaN,60603,유명사적/유적지,4571025325107720000,...,4.571033e+11,완주산단3로,180-11,127.119759,35.948967,다마657725,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6960,KCLHTPO23N000006961,장소,유적지,23108268,홍범도장군묘,NaN,NaN,60603,유명사적/유적지,3020011800101240000,...,NaN,NaN,NaN,127.296522,36.374490,다바817196,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6961,KCLHTPO23N000006962,장소,유적지,23338249,사물제,NaN,NaN,60600,N,2772035021102170000,...,2.772047e+11,읍내길,89-27,128.720205,36.173542,마마097980,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6962,KCLHTPO23N000006963,장소,유적지,23338250,삼성제,NaN,NaN,60600,N,2772035021102170000,...,2.772047e+11,읍내길,89-27,128.719900,36.173511,마마097980,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6963,KCLHTPO23N000006964,장소,유적지,23338251,명륜당,NaN,NaN,60600,N,2772035021102170000,...,2.772047e+11,읍내길,89-27,128.720037,36.173608,마마097980,20240104,KT,KC_507_LLR_HISTST_2023,20231220

In [74]:
df[df.CTPRVN_NM == '서울특별시']

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
16,KCLHTPO23N000000017,장소,유적지,332990,화계사,NaN,NaN,180301,유명사찰,1130510300104870000,...,1.130541e+11,화계사길,117,127.007350,37.632707,다사565593,20240104,KT,KC_507_LLR_HISTST_2023,20231220
17,KCLHTPO23N000000018,장소,유적지,333010,진관사,NaN,NaN,180301,유명사찰,1138011400103540000,...,1.138041e+11,진관길,73,126.946619,37.638171,다사511599,20240104,KT,KC_507_LLR_HISTST_2023,20231220
19,KCLHTPO23N000000020,장소,유적지,333702,천축사,NaN,NaN,180301,유명사찰,1132010800200390000,...,1.132041e+11,도봉산길,92-2,127.019338,37.694252,다사576661,20240104,KT,KC_507_LLR_HISTST_2023,20231220
23,KCLHTPO23N000000024,장소,유적지,334975,도선사,NaN,NaN,180301,유명사찰,1130510400200690000,...,1.130549e+11,도선사길,278,126.989760,37.655233,다사549618,20240104,KT,KC_507_LLR_HISTST_2023,20231220
25,KCLHTPO23N000000026,장소,유적지,335437,승가사,NaN,NaN,180301,유명사찰,1111018200200010000,...,1.111041e+11,비봉4길,213,126.960423,37.626488,다사523586,20240104,KT,KC_507_LLR_HISTST_2023,20231220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6855,KCLHTPO23N000006856,장소,유적지,21447303,함태영사택터,NaN,NaN,60603,유명사적/유적지,1114011800100840011,...,1.114030e+11,통일로,10,126.973705,37.556899,다사535509,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6876,KCLHTPO23N000006877,장소,유적지,22216622,윤근영가옥,NaN,NaN,60608,고택/생가/민속마을,1130510300105660026,...,1.130541e+11,인수봉로84길,5,127.010897,37.646473,다사568608,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6927,KCLHTPO23N000006928,장소,유적지,22666980,민영환선생동상,NaN,NaN,60606,비/탑/문/각,1141010200104140000,...,NaN,NaN,NaN,126.962549,37.559421,다사525512,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6944,KCLHTPO23N000006945,장소,유적지,22928766,연복사탑중창비,NaN,NaN,60606,비/탑/문/각,1117012800100401010,...,NaN,NaN,NaN,126.963062,37.527892,다사525477,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6958,KCLHTPO23N000006959,장소,유적지,23079628,태화관,NaN,NaN,60603,유명사적/유적지,1111013600101940027,...,1.111041e+11,인사동5길,29,126.984861,37.571950,다사545526,20240104,KT,KC_507_LLR_HISTST_2023,20231220

In [75]:
names1 = df['POI_NM']
names1

0           고인돌공원
1       통영삼도수군통제영
2             정법사
3             송광사
4             용암사
          ...
6959      배매산산성유적
6960       홍범도장군묘
6961          사물제
6962          삼성제
6963          명륜당
Name: POI_NM, Length: 6964, dtype: object

In [76]:
# p= re.compile('[a-zA-Zㄱ-ㅎ가-힣ㅏ-ㅣ]+')

In [77]:
# cnt=0
# for name in names:
#     if p.findall(name):
#         cnt+=1
# cnt

In [109]:
df2 = pd.read_excel('data/주요관광지점 입장객(전국).xls', sheet_name=2)
df2.drop(index=[0],inplace=True)
df2

,시도,군구,관광지,내/외국인,총계,2018년,2019년,2020년,2021년,2022년,2023년
1,서울특별시,종로구,경복궁,내국인,16883996.0,3425247,3874837,868368,1065815,3164299,4485430
2,서울특별시,종로구,경복궁,외국인,3977114.0,1022324,1471909,150729,19373,218304,1094475
3,서울특별시,종로구,경복궁,합계,20861110.0,4447571,5346746,1019097,1085188,3382603,5579905
4,서울특별시,종로구,종묘,내국인,1688784.0,410935,389642,138917,211351,265635,272304
5,서울특별시,종로구,종묘,외국인,226435.0,66693,60756,7460,3912,20985,66629
...,...,...,...,...,...,...,...,...,...,...,...
966,제주특별자치도,제주시,항몽 유적지,외국인,11270.0,2602,5937,1857,87,299,488
967,제주특별자치도,제주시,항몽 유적지,합계,567324.0,114795,119456,81830,86242,86931,78070
968,제주특별자치도,서귀포시,제주추사관,내국인,331216.0,114432,86176,22278,21633,38399,48298
969,제주특별자치도,서귀포시,제주추사관,외국인,709.0,263,238,39,19,53,97
970,제주특별자치도,서귀포시,제주추사관,합계,331925.0,114695,86414,22317,21652,38452,48395

#### 한 파일에는 이름에 특정부호와 공백이들어있고 나머지 파일에는 공백없는 이름이라 이름 맞춰주기

In [ ]:
names=[]
for name in df2['관광지']:
    names.append(re.sub(r'[^\uAC00-\uD7A3]','',name))
names

In [111]:
df2['관광지']=names
df2.관광지

1        경복궁
2        경복궁
3        경복궁
4         종묘
5         종묘
       ...
966    항몽유적지
967    항몽유적지
968    제주추사관
969    제주추사관
970    제주추사관
Name: 관광지, Length: 970, dtype: object

In [112]:
df

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KCLHTPO23N000000001,장소,유적지,159787,고인돌공원,NaN,NaN,60607,천연기념물,4615036029104520000,...,NaN,NaN,NaN,127.224567,34.979212,다라748649,20240104,KT,KC_507_LLR_HISTST_2023,20231220
1,KCLHTPO23N000000002,장소,유적지,257207,통영삼도수군통제영,NaN,NaN,60603,유명사적/유적지,4822010600100620000,...,4.822033e+11,세병로,41,128.423087,34.847752,라라843507,20240104,KT,KC_507_LLR_HISTST_2023,20231220
2,KCLHTPO23N000000003,장소,유적지,331650,정법사,NaN,NaN,180301,유명사찰,2714010100200450005,...,2.714030e+11,동북로,397,128.631522,35.887210,마마021662,20240104,KT,KC_507_LLR_HISTST_2023,20231220
3,KCLHTPO23N000000004,장소,유적지,331657,송광사,NaN,NaN,180301,유명사찰,4571034025105690002,...,4.571033e+11,송광수만로,255-16,127.241749,35.885783,다마766654,20240104,KT,KC_507_LLR_HISTST_2023,20231220
4,KCLHTPO23N000000005,장소,유적지,331737,용암사,NaN,NaN,180301,유명사찰,4373025032200510004,...,4.373045e+11,삼청2길,400,127.564129,36.259593,라바057069,20240104,KT,KC_507_LLR_HISTST_2023,20231220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6959,KCLHTPO23N000006960,장소,유적지,23096500,배매산산성유적,NaN,NaN,60603,유명사적/유적지,4571025325107720000,...,4.571033e+11,완주산단3로,180-11,127.119759,35.948967,다마657725,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6960,KCLHTPO23N000006961,장소,유적지,23108268,홍범도장군묘,NaN,NaN,60603,유명사적/유적지,3020011800101240000,...,NaN,NaN,NaN,127.296522,36.374490,다바817196,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6961,KCLHTPO23N000006962,장소,유적지,23338249,사물제,NaN,NaN,60600,N,2772035021102170000,...,2.772047e+11,읍내길,89-27,128.720205,36.173542,마마097980,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6962,KCLHTPO23N000006963,장소,유적지,23338250,삼성제,NaN,NaN,60600,N,2772035021102170000,...,2.772047e+11,읍내길,89-27,128.719900,36.173511,마마097980,20240104,KT,KC_507_LLR_HISTST_2023,20231220
6963,KCLHTPO23N000006964,장소,유적지,23338251,명륜당,NaN,NaN,60600,N,2772035021102170000,...,2.772047e+11,읍내길,89-27,128.720037,36.173608,마마097980,20240104,KT,KC_507_LLR_HISTST_2023,20231220

In [113]:
df2[df2['관광지'].isin(names1)]['관광지'].nunique()

156

In [114]:
df[df['POI_NM']=='종묘']

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
809,KCLHTPO23N000000810,장소,유적지,8269703,종묘,NaN,NaN,60601,궁궐/종묘,1111015000100010002,...,1.111031e+11,종로,157,126.994384,37.574403,다사553529,20240104,KT,KC_507_LLR_HISTST_2023,20231220

In [122]:
df['LEGALDONG_NM'].isnull().sum()

0

In [123]:
df['CL_NM'].unique()

array(['천연기념물', '유명사적/유적지', '유명사찰', 'N', '비/탑/문/각', '국보', '서원/향교/서당',
       '고택/생가/민속마을', '보물', '왕릉/고분', '궁궐/종묘', '성/성터'], dtype=object)

#### 첫번째 파일에서 이름이 같은 유적지에 두번째 파일에 위도,경도,도로명,건물번호 넣어줌

In [126]:
for i,name2 in zip(df2.index,df2['관광지']):
    for name,la,lo,cate,road,ro_No in zip(df['POI_NM'],df['LC_LA'],df['LC_LO'],df['CL_NM'],
                                          df['RDNMADR_NM'],df['BULD_NO']):
        if name2 == name:
            df2.loc[i,'위도']=la
            df2.loc[i,'경도']=lo
            df2.loc[i,'범주']=cate
            df2.loc[i,'도로명']=road
            df2.loc[i,'건물번']=ro_No
df2

,시도,군구,관광지,내/외국인,총계,2018년,2019년,2020년,2021년,2022년,2023년,위도,경도,범주,도로명,건물번,주소
1,서울특별시,종로구,경복궁,내국인,16883996.0,3425247,3874837,868368,1065815,3164299,4485430,37.580137,126.976690,궁궐/종묘,사직로,161,서울특별시종로구세종로nan1-1
2,서울특별시,종로구,경복궁,외국인,3977114.0,1022324,1471909,150729,19373,218304,1094475,37.580137,126.976690,궁궐/종묘,사직로,161,서울특별시종로구세종로nan1-1
3,서울특별시,종로구,경복궁,합계,20861110.0,4447571,5346746,1019097,1085188,3382603,5579905,37.580137,126.976690,궁궐/종묘,사직로,161,서울특별시종로구세종로nan1-1
4,서울특별시,종로구,종묘,내국인,1688784.0,410935,389642,138917,211351,265635,272304,37.574403,126.994384,궁궐/종묘,종로,157,서울특별시종로구훈정동nan1-2
5,서울특별시,종로구,종묘,외국인,226435.0,66693,60756,7460,3912,20985,66629,37.574403,126.994384,궁궐/종묘,종로,157,서울특별시종로구훈정동nan1-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,제주특별자치도,제주시,항몽유적지,외국인,11270.0,2602,5937,1857,87,299,488,33.452684,126.407948,유명사적/유적지,항파두리로,50,제주특별자치도제주시애월읍상귀리1012
967,제주특별자치도,제주시,항몽유적지,합계,567324.0,114795,119456,81830,86242,86931,78070,33.452684,126.407948,유명사적/유적지,항파두리로,50,제주특별자치도제주시애월읍상귀리1012
968,제주특별자치도,서귀포시,제주추사관,내국인,331216.0,114432,86176,22278,21633,38399,48298,NaN,NaN,nan,nan,nan,nan
969,제주특별자치도,서귀포시,제주추사관,외국인,709.0,263,238,39,19,53,97,NaN,NaN,nan,nan,nan,nan
970,제주특별자치도,서귀포시,제주추사관,합계,331925.0,114695,86414,22317,21652,38452,48395,NaN,NaN,nan,nan,nan,nan

In [33]:
df2.to_excel('주요관광지점 입장객(전국)_위도경도_추가버전.xlsx', index=False)

NameError: name 'df2' is not defined

In [4]:
df = pd.read_excel('data/주요관광지점 입장객(전국)_위도경도_추가버전.xlsx')

C:\ProgramData\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [64]:
df.columns

Index(['시도', '군구', '관광지', '내/외국인', '총계', '2018년', '2019년', '2020년', '2021년',
       '2022년', '2023년', '위도', '경도', '범주', '도로명', '건물번'],
      dtype='object')

### 연도별 입장객수 nan값 처리

In [65]:
df[['2018년', '2019년', '2020년', '2021년',
       '2022년', '2023년']].fillna(0)

         2018년      2019년      2020년      2021년      2022년     2023년
0    1222405.0  1243423.0  1045834.0  1059950.0  1197255.0  583425.0
1    1222405.0  1236631.0  1039072.0  1057390.0  1193348.0  582641.0
2     149090.0   237557.0   370264.0   223402.0   311802.0  548985.0
3     149090.0   237557.0   370264.0   223402.0   311802.0  548985.0
4     256303.0   222204.0   156444.0   159927.0   166282.0  174023.0
..         ...        ...        ...        ...        ...       ...
821     7484.0     7103.0     2949.0        0.0        0.0       0.0
822        0.0        0.0        0.0        0.0        0.0    2324.0
823       21.0       31.0        0.0        0.0        0.0       0.0
824       44.0        0.0        0.0        0.0        0.0       0.0
825        0.0        0.0        0.0        0.0        0.0       0.0

[826 rows x 6 columns]

In [66]:
df[['2018년', '2019년', '2020년', '2021년','2022년', '2023년']]=df[['2018년', '2019년', '2020년', '2021년','2022년', '2023년']].fillna(0)

In [67]:
#건물번호 nan값 처리
df['건물번'] = df['건물번'].fillna("")

In [68]:
df.isnull().sum()

시도       0
군구       0
관광지      0
내/외국인    0
총계       0
2018년    0
2019년    0
2020년    0
2021년    0
2022년    0
2023년    0
위도       0
경도       0
범주       0
도로명      0
건물번      0
dtype: int64

In [69]:
df.to_excel('주요관광지점 입장객(전국).xlsx', index=False)